
/* Whole Website */

*{
  margin: 0px;
  padding: 0px;
  font-family: Helvetica;
  color: seashell;
  background-color: black;
  opacity: 0.9;
}

a,
.mission{
  font-size: 22px;
}

/* Header */

header{
  height: 69px;
  width: 100%;
  position: fixed;
  border-bottom: 1px solid seashell;
  display: inline-flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 10px;
  opacity: 1;
}

.logo img{
  height: 50px;
}

nav span{
  padding-right: 20px;
}

.a{
  text-decoration: underline;
}

/* Mission */

.mission{
  width: 100%;
  display: inline-flex;
  justify-content: center;
  align-content: center;
  opacity: 1;
}

.missionbackground{
  margin-top: 70px;
  height: 700px;
  width: 1200px;
  display: inline-flex;
  flex-direction: column;
  background-image: url(../images/img-mission-background.jpg);
  justify-content: center;
  align-items: center;
}

.missiontext{
  display: inline-flex;
  justify-content: center;
  background-color: black;
  width: 1200px;
  padding: 10px;
  opacity: 1;
}

.featuredtea{
  width: 1000px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
}

.featuredteatext{
  display: inline-flex;
  justify-content: center;
}

.featuredteaimages{
  display: inline-flex;
  justify-content: center;

}

.featuredteaheaders{
  display: inline-flex;
  flex-direction: row;
  justify-content: center;
}

.box img{
  height: 200px;
  width: 200px;
}
